@import "../mixins.scss";

.rstWrapper {
  display: contents;

  h2 {
    line-height: 32px;
    overflow-wrap: break-word;

    code {
      font-size: 90%;
    }
  }

  .tableWrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    font-size: 17px;

    &.align_center {
      tr {
        td {
          text-align: center;
        }
      }
    }

    tr {
      &:first-child {
        td,
        th {
          &:first-child {
            border-top-left-radius: 4px;
          }
        }
        td,
        th {
          &:last-child {
            border-top-right-radius: 4px;
          }
        }
      }
      &:last-child {
        td:first-child {
          border-bottom-left-radius: 4px;
        }
        td:last-child {
          border-bottom-right-radius: 4px;
        }
      }
    }

    thead + tbody tr:first-child {
      td:first-child {
        border-top-left-radius: 0;
      }
      td:last-child {
        border-top-right-radius: 0;
      }
    }

    th,
    td {
      padding: 0.5em 0.8em;
    }

    td {
      background-color: var(--codeBgColour);
      vertical-align: top;
    }
    th {
      background-color: var(--grey93);
    }

    p {
      margin: 0;
      line-height: 27px;
    }
  }

  ol,
  ul {
    li {
      padding: 5px 0px;
      p:first-child {
        margin-top: 0px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
    }
  }

  details {
    border-radius: 8px;
    background: var(--detailsBlockBgColor, #f7f7f7);
    width: calc(var(--contentWidth) + var(--overhang) * 2);
    margin-left: calc(-1 * var(--overhang));
    padding: 0 var(--overhang);
    margin-top: 42px;

    summary {
      display: block;
      outline: none;

      &::-webkit-details-marker {
        display: none;
      }

      h1,
      h2,
      h3,
      h4 {
        margin: 0;
      }

      & > div {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        padding-top: 1em;
        padding-bottom: 1em;

        &:before {
          display: block;
          content: "";
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          margin-left: calc(-1 * var(--overhang) - 12px);
          margin-right: calc(var(--overhang) - 12px);
          background-color: var(--detailsBlockBgColor, #f7f7f7);
          border-radius: 12px;
          box-shadow: 0 0 0 3px var(--pageBackgroundColour, #fff);
          background-repeat: no-repeat;
          background-position: 7px center;
          background-size: 12px 12px;
          background-image: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.06091 0.43934C2.47512 -0.146447 1.52537 -0.146447 0.939586 0.43934C0.3538 1.02513 0.3538 1.97487 0.939586 2.56066L6.8788 8.49988L0.93934 14.4393C0.353553 15.0251 0.353553 15.9749 0.93934 16.5607C1.52513 17.1464 2.47487 17.1464 3.06066 16.5607L10.0445 9.57686C10.05 9.57151 10.0555 9.56611 10.0609 9.56066C10.6467 8.97487 10.6467 8.02513 10.0609 7.43934L3.06091 0.43934Z' fill='%234d4d4d'/%3E%3C/svg%3E%0A");
          transition: transform 0.15s;
        }
      }
    }

    &[open] {
      padding-bottom: 12px;

      summary > div:before {
        transform: rotate(90deg);
      }
    }

    &.inline {
      margin-top: 12px;

      summary > div {
        min-height: 48px;

        &:before {
          background-size: 12px 12px;
        }
      }
    }

    & > :not(summary) {
      --overhang: 0px;
    }

    @include breakpoint(sm) {
      border-radius: 0;
      max-width: calc(100% + 2 * var(--overhang));

      summary > div:before {
        margin-left: calc(-1 * var(--overhang) + 14px);
        margin-right: 6px;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }

  a:global(.external-link):after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-bottom: -2px;
    margin-left: 1px;
    background-size: calc(1em - 2px);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.25 3C10.8358 3 10.5 2.66421 10.5 2.25C10.5 1.83579 10.8358 1.5 11.25 1.5H15.75C15.8517 1.5 15.9487 1.52024 16.0371 1.55691C16.1249 1.59324 16.2072 1.64696 16.2787 1.71808C16.2793 1.71861 16.2798 1.71914 16.2803 1.71967C16.2809 1.7202 16.2814 1.72073 16.2819 1.72126C16.353 1.7928 16.4068 1.87511 16.4431 1.96291C16.4798 2.05134 16.5 2.14831 16.5 2.25V6.75C16.5 7.16421 16.1642 7.5 15.75 7.5C15.3358 7.5 15 7.16421 15 6.75V4.06066L8.03033 11.0303C7.73744 11.3232 7.26256 11.3232 6.96967 11.0303C6.67678 10.7374 6.67678 10.2626 6.96967 9.96967L13.9393 3H11.25ZM3.75 5.25C3.55109 5.25 3.36032 5.32902 3.21967 5.46967C3.07902 5.61032 3 5.80109 3 6V14.25C3 14.4489 3.07902 14.6397 3.21967 14.7803C3.36032 14.921 3.55109 15 3.75 15H12C12.1989 15 12.3897 14.921 12.5303 14.7803C12.671 14.6397 12.75 14.4489 12.75 14.25V9.75C12.75 9.33579 13.0858 9 13.5 9C13.9142 9 14.25 9.33579 14.25 9.75V14.25C14.25 14.8467 14.0129 15.419 13.591 15.841C13.169 16.2629 12.5967 16.5 12 16.5H3.75C3.15326 16.5 2.58097 16.2629 2.15901 15.841C1.73705 15.419 1.5 14.8467 1.5 14.25V6C1.5 5.40326 1.73705 4.83097 2.15901 4.40901C2.58097 3.98705 3.15326 3.75 3.75 3.75H8.25C8.66421 3.75 9 4.08579 9 4.5C9 4.91421 8.66421 5.25 8.25 5.25H3.75Z' fill='%231f8aed'/%3E%3C/svg%3E%0A");

    @include darkTheme {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.25 3C10.8358 3 10.5 2.66421 10.5 2.25C10.5 1.83579 10.8358 1.5 11.25 1.5H15.75C15.8517 1.5 15.9487 1.52024 16.0371 1.55691C16.1249 1.59324 16.2072 1.64696 16.2787 1.71808C16.2793 1.71861 16.2798 1.71914 16.2803 1.71967C16.2809 1.7202 16.2814 1.72073 16.2819 1.72126C16.353 1.7928 16.4068 1.87511 16.4431 1.96291C16.4798 2.05134 16.5 2.14831 16.5 2.25V6.75C16.5 7.16421 16.1642 7.5 15.75 7.5C15.3358 7.5 15 7.16421 15 6.75V4.06066L8.03033 11.0303C7.73744 11.3232 7.26256 11.3232 6.96967 11.0303C6.67678 10.7374 6.67678 10.2626 6.96967 9.96967L13.9393 3H11.25ZM3.75 5.25C3.55109 5.25 3.36032 5.32902 3.21967 5.46967C3.07902 5.61032 3 5.80109 3 6V14.25C3 14.4489 3.07902 14.6397 3.21967 14.7803C3.36032 14.921 3.55109 15 3.75 15H12C12.1989 15 12.3897 14.921 12.5303 14.7803C12.671 14.6397 12.75 14.4489 12.75 14.25V9.75C12.75 9.33579 13.0858 9 13.5 9C13.9142 9 14.25 9.33579 14.25 9.75V14.25C14.25 14.8467 14.0129 15.419 13.591 15.841C13.169 16.2629 12.5967 16.5 12 16.5H3.75C3.15326 16.5 2.58097 16.2629 2.15901 15.841C1.73705 15.419 1.5 14.8467 1.5 14.25V6C1.5 5.40326 1.73705 4.83097 2.15901 4.40901C2.58097 3.98705 3.15326 3.75 3.75 3.75H8.25C8.66421 3.75 9 4.08579 9 4.5C9 4.91421 8.66421 5.25 8.25 5.25H3.75Z' fill='%233a82c4'/%3E%3C/svg%3E%0A");
    }
  }

  .youtube-embed {
    position: relative;
    padding-bottom: calc(
      (var(--contentWidth, 100%) + 2 * var(--overhang)) * 0.5625
    );
    height: 0;
    overflow: hidden;
    width: auto !important;
    max-width: calc(var(--contentWidth, 100%) + 2 * var(--overhang));
    height: auto;
    margin-left: calc(-1 * var(--overhang)) !important;
    margin-right: calc(-1 * var(--overhang)) !important;
    border-radius: 8px;
    overflow: hidden;

    @include breakpoint(sm) {
      border-radius: 0;
    }

    & > span {
      position: absolute;
      inset: -16px;
      background-size: cover;
      background-position: center;
      filter: blur(20px);
    }

    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .youtube-embed-caption {
    margin: 0;
    padding: 0 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0.8;

    p {
      font-size: inherit;
      line-height: inherit;
    }
  }

  @include darkTheme {
    table {
      th {
        background-color: var(--grey8);
      }
    }
  }
}

:not(aside) {
  &.note,
  &.important,
  &.warning {
    --notePadding: var(--overhang, 32px);

    padding: 0 calc(var(--notePadding) - 4px);
    margin-top: 40px;
    margin-bottom: 40px;

    line-height: 32px;

    border-left: 4px solid #53c2a2;

    @include breakpoint(sm) {
      --notePadding: var(--pageMargin);
      font-size: 14px;
      line-height: 24px;
    }

    p {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    > p:first-child:before {
      content: "Note:";
      color: #53c2a2;
      @include monospace;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-right: 0.5em;
      padding-left: 24px;
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2388 26.6404H19.9888V16.5904H16.2388V26.6404ZM16.2388 13.5429H19.9888V9.9829H16.2388V13.5429ZM18.1138 0.0666504C8.44877 0.0666504 0.61377 7.9029 0.61377 17.5667C0.61377 27.2317 8.44877 35.0667 18.1138 35.0667C27.7775 35.0667 35.6138 27.2317 35.6138 17.5667C35.6138 7.9029 27.7775 0.0666504 18.1138 0.0666504Z' fill='%2353c2a2'/%3E%3C/svg%3E%0A");
    }

    section > &,
    .section > & {
      margin-left: calc(-1 * var(--notePadding));
      margin-right: calc(-1 * var(--notePadding));
    }

    @include darkTheme {
      color: var(--grey70);
      border-left-color: #2c6454;

      > p:first-child:before {
        color: #2c6454;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.2388 26.6404H19.9888V16.5904H16.2388V26.6404ZM16.2388 13.5429H19.9888V9.9829H16.2388V13.5429ZM18.1138 0.0666504C8.44877 0.0666504 0.61377 7.9029 0.61377 17.5667C0.61377 27.2317 8.44877 35.0667 18.1138 35.0667C27.7775 35.0667 35.6138 27.2317 35.6138 17.5667C35.6138 7.9029 27.7775 0.0666504 18.1138 0.0666504Z' fill='%232c6454'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &.warning {
    border-left-color: #eb7c7c;

    > p:first-child:before {
      content: "Warning:";
      color: #eb7c7c;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 35 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.625 18.8376H19.375V8.78753H15.625V18.8376ZM15.625 25.7401H19.375V22.1801H15.625V25.7401ZM34.5538 26.2463L20.3513 1.64626C19.0838 -0.548752 15.9162 -0.548752 14.6487 1.64626L0.446193 26.2463C-0.821311 28.4413 0.762444 31.1851 3.29745 31.1851H31.7025C34.2376 31.1851 35.8213 28.4413 34.5538 26.2463Z' fill='%23eb7c7c'/%3E%3C/svg%3E%0A");
    }

    @include darkTheme {
      border-left-color: #793e3e;

      > p:first-child:before {
        color: #793e3e;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 35 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.625 18.8376H19.375V8.78753H15.625V18.8376ZM15.625 25.7401H19.375V22.1801H15.625V25.7401ZM34.5538 26.2463L20.3513 1.64626C19.0838 -0.548752 15.9162 -0.548752 14.6487 1.64626L0.446193 26.2463C-0.821311 28.4413 0.762444 31.1851 3.29745 31.1851H31.7025C34.2376 31.1851 35.8213 28.4413 34.5538 26.2463Z' fill='%23793e3e'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.nestedParagraph {
  display: block;
}
