@use "@fontsource/roboto/scss/mixins" as Roboto;
@use "@fontsource-variable/roboto-mono/scss/mixins" as RobotoMono;
@use "@fontsource-variable/open-sans/scss/mixins" as OpenSans;

@import "@edgedb-site/shared/mixins.scss";

@include Roboto.faces($weights: all);
@include RobotoMono.faces($family: "Roboto Mono");
@include OpenSans.faces($family: "Open Sans");

@include font("Sometype Mono", "SometypeMono", 500);
@include font("Sometype Mono", "SometypeMono", 700);

@each $weight in 300, 400, 500, 600, 700 {
  @include font("EdgeDB", "edgedb", $weight);
}

html {
  @include palette;

  // colour vars
  --pageBg: var(--grey95);
  --baseText: var(--grey20);
  --codeBgColour: #fff;

  --syntaxGreen: #1a8f66;
  --syntaxPurple: #be65cd;
  --syntaxBlue: #0075d2;
  --syntaxOrange: #d78100;
  --syntaxText: #333333;
  --syntaxComment: #7f7f7f;
  --syntaxSynopsis: #7f7f7f;
  --syntaxOptional: #999;

  --accentGreen: var(--accent_green_light_theme);
  --accentRed: var(--accentRedLightTheme);
}

@mixin dark {
  --pageBg: var(--grey10);
  --baseText: var(--grey55);
  --codeBgColour: var(--grey6);
  --copyBtnBg: var(--grey20);
  --copyBtnColor: var(--grey60);
  --copyBtnSvg: var(--grey40);

  --syntaxGreen: #07a66d;
  --syntaxPurple: #ac86f6;
  --syntaxBlue: #369ff2;
  --syntaxOrange: #f4e470;
  --syntaxText: var(--grey65);
  --syntaxComment: #7f7f7f;

  --accentGreen: var(--accent_green_dark_theme);
  --accentRed: var(--accentRedDarkTheme);
}

[data-theme="dark"] {
  @include dark;
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @include dark;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--pageBg);
  font-family: "Roboto", sans-serif;
  color: var(--baseText);
}

html {
  @include responsive(--pageHeaderHeight, 64px, $md: 112px, $sm: 104px);

  overflow-y: scroll;
  overflow-x: hidden;

  scroll-padding-top: var(--pageHeaderHeight);
}

body {
  position: relative;

  // prevent font-size inflation on small devices
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
