@import "../../../styles/mixins.scss";

.backgroundFader {
  @include breakpoint(sm) {
    overflow: hidden;
  }
}

.backgroundBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
