@import "@/mixins.scss";

.container {
  @include responsive(padding, 13px 13px 13px 16px, $sm: 24px 4px 24px 16px);
  background-color: #ebebeb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: start;

  &:hover {
    --expandArrow: 1;
  }

  @include darkTheme {
    background-color: #1f1f1f;
  }

  p {
    font-size: 16px;

    @include darkTheme {
      color: #b3b3b3;
    }
  }

  svg {
    fill: #46b98f;
    position: relative;
    top: 4px;
    left: 4px;
    width: 19px;
    height: 19px;
  }

  @include darkTheme {
    svg {
      fill: #0d805e;
    }
  }
}
