@import "@/mixins.scss";

.container {
  height: 100%;
  @include breakpoint(md) {
    position: absolute;
  }

  @include breakpoint(sm) {
    width: 100%;
    z-index: 3;
    background: transparentize(#f7f7f7, 0.15);

    @include darkTheme {
      background: transparentize(#000000, 0.4);
    }
  }

  .historyWrapper {
    visibility: visible;
    @include responsive(width, 288px, $lg: 261px, $sm: calc(100vw - 40px));
    @include responsive(
      transition,
      "width 0.4s ease-in-out, visibility 0.4s ease-in-out",
      $sm: none
    );
    height: 100%;
    overflow-x: hidden;
    z-index: 2;
    position: relative;
    z-index: 3;

    .history {
      height: 100%;
      @include responsive(width, 288px, $lg: 261px);
      padding: 0 16px 16px;
      background: #d9d9d9;
      overflow-y: auto;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;

      @include breakpoint(sm) {
        border-radius: 0;
        width: calc(100vw - 40px);
      }

      .chat {
        padding: 16px;
        width: 100%;
        text-align: start;
        background: transparent;
        border: 2px solid #bfbfbf;
        border-radius: 8px;
        @include responsive(font-size, 16px, $xl: 14px);
        line-height: 24px;
        margin-top: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include darkTheme {
          color: #b3b3b3;
        }
      }

      .activeChat {
        background: #bfbfbf;
      }

      @include darkTheme {
        background: #2e2e2e;

        .chat {
          border: 2px solid #404040;
        }

        .activeChat {
          background: #404040;
        }
      }
    }
  }

  .collapsedHistoryWrapper {
    width: 0px;
    visibility: hidden;
  }

  button {
    cursor: pointer;
  }

  .historyHeader {
    position: sticky;
    top: 0;
    display: flex;
    gap: 16px;
    background: #d9d9d9;
    box-shadow: 3px 4px 18px 6px #d9d9d9;
    @include responsive(padding-top, 16px, $sm: 24px);

    @include darkTheme {
      background: #2e2e2e;
      box-shadow: 3px 4px 18px 6px #2e2e2e;
    }
  }

  .newChat {
    @include responsive(font-size, 16px, $xl: 14px);
    line-height: 24px;
    padding: 8px 16px;
    text-align: start;
    border-radius: 8px;
    background: #7154ae;
    color: #f5f5f5;
    flex-grow: 1;

    @include breakpoint(lg) {
      width: 168px;
    }

    @include breakpoint(sm) {
      width: 100%;
      text-align: center;
    }

    @include darkTheme {
      background: #9f8dc7;
      color: #191919;
    }
  }
}

.toggleHistory {
  font-size: 0;
  padding: 10px;
  @include responsive(border-radius, 8px, $sm: 50%);
  background: #bfbfbf;
  width: 40px;
  height: 40px;

  path {
    fill: var(--grey45);
  }

  @include darkTheme {
    background: #404040;

    path {
      fill: #7e7e7e;
    }
  }
}

.invisibleToggle {
  visibility: hidden;
}

.hideToggle {
  @include breakpoint(sm) {
    display: none;
  }
}

.collapsedToggle {
  position: absolute;
  z-index: 3;
  top: 16px;
  left: 16px;
  border: none;
  background: transparent;

  @include darkTheme {
    background: transparent;
    border: none;
  }

  @include breakpoint(sm) {
    background: #d9d9d9;
    top: 24px;
    left: 24px;
    width: 48px;
    height: 48px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
    // z-index: 2;

    @include darkTheme {
      background: #2e2e2e;
      filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.3));
    }
  }
}

.mobileCloseHistory {
  display: none;

  @include breakpoint(sm) {
    display: block;
    position: absolute;
    height: 40px;
    top: 16px;
    right: 0;
    background: var(--grey25);
    padding: 0;
    color: var(--grey45);

    @include darkTheme {
      background: var(--grey85);
      color: var(--grey50);
    }
  }
}

.hideMobileCloseBtn {
  display: none;
}

.hideHistory {
  @include breakpoint(sm) {
    z-index: unset;
    background: unset;
  }
}
