@import "../../styles/settings.vars.scss";

@mixin colorit($comment, $operator, $string, $keyword, $literal, $name) {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $comment;
  }

  &.operator {
    color: $operator;
  }

  &.boolean,
  &.number {
    color: $literal;
  }

  &.string,
  &.attr-name,
  &.entity,
  &.url {
    color: $string;
  }

  &.string {
    .escaped {
      color: $literal;
    }
  }

  &.number,
  &.string {
    .valuetype {
      color: $name;
    }
  }

  &.keyword,
  &.important,
  &.statement {
    color: $keyword;
  }

  &.function,
  &.variable,
  &.builtin {
    color: $name;
  }

  &.faded {
    opacity: 0.7;
    font-weight: $weight_bold;
  }
}

@mixin tokenColours {
  .token {
    @include colorit(
      $comment: var(--syntaxComment),
      $operator: var(--syntaxRed),
      $string: var(--syntaxGreen),
      $keyword: var(--syntaxPurple),
      $literal: var(--syntaxOrange),
      $name: var(--syntaxBlue)
    );
  }
}
