@import "@/mixins.scss";

.controlsPanel {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}

.controlsOuter {
  position: relative;
  margin-bottom: max(56px, env(safe-area-inset-bottom, 0px));

  &:before {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    top: 16px;
    bottom: -8px;
    background: #1a3d5f;
    opacity: 0.6;
    filter: blur(20px);
    border-radius: 6px;
    z-index: -1;

    @include darkTheme {
      background: #000;
    }
  }
}

.controls {
  --bgColour: #1f8aed;
  --textColour: #fff;
  --hoverBgColour: #056bca;

  background-color: var(--bgColour);
  border-radius: 8px;
  display: flex;
  pointer-events: auto;
  color: var(--textColour);
  overflow: hidden;

  @include darkTheme {
    --bgColour: #3a82c4;
    --textColour: #1d1d1d;
    --hoverBgColour: #62a1db;
  }
}

.button {
  border: 0;
  background: none;
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: currentColor;
  }

  @include hover {
    background-color: var(--hoverBgColour);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active {
    background-color: var(--textColour);
    color: var(--bgColour);
    pointer-events: none;
  }
}

.errMessage {
  --backgroundColour: #454545;

  position: relative;
  padding: 12px 16px;
  background: var(--backgroundColour);
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 8px);
    border: 8px solid transparent;
    border-top-color: #454545;
  }

  @include darkTheme {
    --backgroundColour: #0e0e0e;

    &:after {
      border-top-color: #0e0e0e;
    }
  }
}

@supports (backdrop-filter: blur(8px)) {
  .errMessage {
    --backgroundColour: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(8px);
  }
}

@include breakpoint(md) {
  .controlsOuter {
    margin-bottom: 0;
    width: 100%;

    &:before {
      display: none;
    }
  }

  .controls {
    width: 100%;
    border-radius: 0;
    padding-bottom: env(safe-area-inset-bottom);
    justify-content: stretch;
  }
}

@include breakpoint(sm) {
  .button {
    font-size: 14px;

    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }

    &.hideOnMobile {
      display: none;
    }
  }
}
